#container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #222;
    color: #fff;
    height: 100vh;
}
#backButton {
    background-color: #444;
    border: 1px solid #f2a500;
    color: #f2a500;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 16px;
}
#formContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#leftSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#mainImagePlaceholder {
    width: 300px;
    height: 300px;
    background-color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
    position: relative;
    margin-left: 50px;
    margin-bottom: 20px;
}
#additionalImages {
    display: flex;
    gap: 10px;
}
#additionalImagePlaceholder {
    width: 100px;
    height: 100px;
    background-color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    flex: 1;
}
#imagePreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#fileInput {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
#rightSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
#nameInput {
    font-size: 24px;
    padding: 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-bottom: 2px solid #f2a500;
    margin-bottom: 10px;
}
#descriptionTextarea {
    height: 150px;
    padding: 20px;
    font-size: 16px;
    background-color: #555;
    color: #fff;
    border: none;
    border-bottom: 2px solid #f2a500;
    margin-bottom: 10px;
}
#moneyInput {
    font-size: 18px;
    padding: 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-bottom: 2px solid #f2a500;
    margin-bottom: 10px;
}
#postButton {
    background-color: #444;
    border: 1px solid #f2a500;
    color: #f2a500;
    width: 150px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}
#center {
    text-align: center;
}