.pages-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.page-chooser {
    margin-bottom: 20px;
    padding: 20px;
    height: 200px;

    background-color: #d9d9d9;
    border-radius: 50px;

    display: flex;
    justify-content: right;
    align-items: center;
    cursor: pointer;

    font-size: 60px;
    text-decoration: none;
    color: black;
}