#listContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
}
#iconContainer{
    padding: 10px;
}
#icon {
    width: 75px;
    height: 75px;
    background-color: #777;
}
#BoardGameInfo {
    flex: 1;
    padding-left: 10px;
}
#BoardGameTitle {
    font-size: 16px;
    font-weight: bold;
}
#BoardGameDetails {
    font-size: 12px;
    color: #aaa;
}

#priceContainer {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 37px;
}